* {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.container {
  float: none;
  width: 660px;
  height: auto;
  background-color: #fff;
  margin: 15px auto;
}
.container .left-bar {
  float: left;
  width: 80px;
  height: 600px;
  background-color: #2f6964;
}
.container .middle-bar {
  float: left;
  width: 500px;
  height: 470px;
  background-color: #2f6964;
  margin-top: 65px;
  box-sizing: border-box;
  border: 1px solid #000000;
}
.container .middle-bar .bus-display {
  float: none;
  width: 480px;
  height: 440px;
  background-color: #000000;
  margin: 15px 10px;
  box-sizing: border-box;
  padding: 20px 15px;
}
.container .middle-bar .bus-display .bd-head {
  float: none;
  width: 100%;
  height: 20px;
  background-color: #7eb576;
  border-bottom: 10px solid #2f6964;
}
.container .middle-bar .bus-display .bd-item-name {
  float: none;
  width: 100%;
  height: 75px;
  background-color: #fff;
  border-bottom: 10px solid #2f6964;
}
.container .middle-bar .bus-display .bd-item-name .cname {
  padding-top: 5px;
  text-align: center;
  font-size: 35px;
  color: #2f6964;
  font-weight: bold;
}
.container .middle-bar .bus-display .bd-item-name .ename {
  text-align: center;
  font-size: 16px;
  color: #2f6964;
  font-weight: bold;
}
.container .middle-bar .bus-display .bd-item-detail {
  float: none;
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-bottom: 10px solid #2f6964;
}
.container .middle-bar .bus-display .bd-item-detail .bd-item-left {
  float: left;
  width: 90px;
  height: 90px;
  background-color: #33544b;
}
.container .middle-bar .bus-display .bd-item-detail .bd-item-left .bdil-o {
  overflow: hidden;
}
.container .middle-bar .bus-display .bd-item-detail .bd-item-left .bdil-o .bdil-left {
  float: left;
  width: 35px;
  height: 30px;
  background-color: #33544b;
  text-align: center;
  font-size: 12px;
  color: #7eb576;
  font-weight: bold;
  box-sizing: border-box;
  padding-top: 3px;
}
.container .middle-bar .bus-display .bd-item-detail .bd-item-left .bdil-o .bdil-right {
  float: left;
  width: 55px;
  height: 30px;
  background-color: #33544b;
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}
.container .middle-bar .bus-display .bd-item-detail .bd-item-left .bdil-tw {
  margin: 3px 0;
  float: none;
  width: 90px;
  height: 15px;
  background-color: #33544b;
  text-align: center;
  font-size: 12px;
  color: #F00;
  font-weight: bold;
}
.container .middle-bar .bus-display .bd-item-detail .bd-item-left .bdil-th ul {
  margin-left: 5px ;
}
.container .middle-bar .bus-display .bd-item-detail .bd-item-left .bdil-th ul li {
  list-style: none;
  float: none;
  width: 100%;
  height: 15px;
  background-color: #33544b;
  text-align: left;
  font-size: 5px;
  color: #7eb576;
  font-weight: normal;
}
.container .middle-bar .bus-display .bd-item-detail .bd-item-left .bdil-th ul li:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  background-color: #7eb576;
  float: left;
  margin-right: 3px;
}
.container .middle-bar .bus-display .bd-item-detail .bd-item-left .bdil-f {
  margin: 3px 0;
  float: none;
  width: 90px;
  height: 15px;
  background-color: #33544b;
  text-align: center;
  font-size: 12px;
  color: #7eb576;
  font-weight: bold;
}
.container .middle-bar .bus-display .bd-item-detail .bd-item-right {
  float: left;
  width: 360px;
  height: 90px;
  background-color: #7eb576;
}
.container .middle-bar .bus-display .bd-item-detail .bd-item-right ul li {
  float: left;
  width: 15px;
  height: 80px;
  background-color: #7eb576;
  text-align: left;
  font-size: 5px;
  color: #33544b;
  font-weight: normal;
  margin: 5px;
  list-style: none;
}
.container .middle-bar .bus-display .bd-item-detail .bd-item-right ul .select {
  color: #F00;
}
.container .right-bar {
  float: left;
  width: 80px;
  height: 600px;
  background-color: #2f6964;
}
.p-bd-bb {
  border-bottom: 10px solid #2f6964;
}
