/*重置默认边距*/
*{
    margin: 0;
    padding: 0;
}
/*设置高度*/
html{
    height: 100%;
}
/*设置body样式*/
body{
    position: relative;
    background-color: #f3e1f7;
    width: 100%;
    height: 100%;
}
/*主体内容样式*/
.container{
    position: absolute;
    border: 1px #c3c6ca solid;
    width: 350px;
    height: 490px;
    left:50%;
    top:50%;
    margin: -245px 0 0 -175px;
    border-left: 1px solid #000;
}
/*表单样式*/
form{
    height: 100%;
    width: 100%;
}
/*文字右对齐*/
#result{
    text-align: right;
}
/*设置显示区域样式*/
.result{
    width: 100%;
    background-color: #2a2a2a;
    height: 140px;
    color: #FFF;
    font-size: 60px;
    text-align: right;
}
/*空白占位*/
.result-blank{
    width: 100%;
    height: 70px;
}
/*结果显示区域样式*/
.result-display{
    line-height: 70px;
}
/*设置文字右边距*/
.result-content{
    margin-right: 15px;
}
/*清楚浮动*/
.keyboard{
    overflow: hidden;
}
/*设置li样式*/
.keyboard>li{
    cursor: pointer;
    box-sizing: border-box;
    float: left;
    list-style: none;
    width: 70px;
    text-align: center;
    line-height: 70px;
    height: 70px;
    font-size: 30px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
/*设置三个特殊运算符样式*/
.keyboard-specOp{
    background-color: #C7C8CA;
}
/*设置五个运算符样式*/
.keyboard-Op{
    color: #FFF;
    background-color: #f97b0e;
}
.keyboard-Op-onclick{
    background-color: #2794e3;
}
/*设置数字区域样式*/
.keyboard-num{
    background-color: #e1e2e4;
}
/*数字0样式*/
.keyboard-specNum{
    width: 140px !important;
}
.specNum{
    width: 70px;
    height: 70px;
}
/*过渡动画样式*/
.ease {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
/*鼠标移入改变背景色*/
.keyboard-num:hover{
    background-color:  #C7C8CA;
}
.keyboard-specOp:hover{
    background-color: #b4b5b7;
}
.keyboard-Op:hover{
    background-color: #e16f0d;
}